html
  head
    // Load the AJAX API
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')      
    script(type='text/javascript').
      var json = '!{JSON.stringify(docs)}'
      var xobj = JSON.parse(json)
      var item_rows = [];
      for ( i = 0 ; i < xobj.items.length ; i++ ) {
        console.log(xobj.items[i].item);
        item_rows.push(
          [ xobj.items[i].item, xobj.items[i].votes ]
        )
      }
      
      
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(item_rows)
        // Set chart options
        var options = {'title': xobj.name ,
        'width': 700,
        'height': 500};
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      
      function copyTextToClipboard() { // Copy to clipboard solution courtesy of http://stackoverflow.com/a/30810322/1319560
        var textArea = document.createElement("textarea");
      
        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = 0;
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        
        textArea.value = window.location.href;
      
        document.body.appendChild(textArea);      
        textArea.select();
      
        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          // console.log('Copying text command was ' + msg);
        } catch (err) {
          // console.log('Oops, unable to copy');
        }      
        document.body.removeChild(textArea);
      }
           
  body
   .container
    .row
      .col-md-7.col-sm-12.col-xs-12
        .well 
          h1 #{docs.name} 
          if (user) && (docs.owner == user._id)
            a.btn.btn-danger(href= "/poll/#{docs._id}/remove") Remove this poll
            button.btn.btn-primary.js-copy-btn(style='margin: 5px') Copy poll address to clipboard
        .well   
          form(role='form', action='/poll/#{docs._id}/newvote', enctype="application/json", method='post')
    
            h4 Choose your answer: 
            for d in docs.items
              div.radio
                label.h2
                  input(type='radio', name="voteid", value=d._id)         
                  | #{d.item}
            br          
            button.btn-lg.btn(name='submit', type='submit') Vote!                                   
      .col-md-5.col-sm-12.col-xs-12
        // Div that will hold the pie chart
        #chart_div
    .row
      if (user) && (docs.owner = user._id)
        form(role='form', action='/poll/#{docs._id}/newitem', enctype="application/json", method='post')
          span.h4 Add a new option: 
          input(type='text', name="item")
          span            
          button.btn-xs.btn-warning(name='submit', type='submit') Add
        p
      a.btn.btn-primary(href= "/") Main Menu
    script(type='text/javascript').
      var copyBtn = document.querySelector('.js-copy-btn')
      copyBtn.addEventListener('click', function(event) {
        copyTextToClipboard();
      });     
    
